<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @person.website_url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @person.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
