<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="ASSAN"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "People", people_path %></li>
        <li><%= link_to "Initiatives", initiatives_path %></li>
        <li><%= link_to "Concepts", concepts_path %></li>
        <li><%= link_to "Media", media_path %></li>
        <!--mega menu-->
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features  <i class="fa fa-angle-down"></i></a>
        </li> <!--menu Features li end here-->
        <!--mega menu end-->    
        <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="fa fa-search"></i></a>
          <ul class="dropdown-menu search-dropdown animated fadeInUp">
            <li id="dropdownForm">
              <div class="dropdown-form">
                <form class=" form-inline">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="search...">
                    <span class="input-group-btn">
                        <button class="btn btn-theme-bg" type="button">Go!</button>
                    </span>
                  </div><!--input group-->
                </form><!--form-->
              </div><!--.dropdown form-->
            </li><!--.drop form search-->
          </ul><!--.drop menu-->
        </li> <!--menu search li end here-->
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--container-->
</div><!--navbar-default-->