<div class="divide40"></div>
<div class="our-team-v-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-heading">
            <h2>Featured <strong>Thought Leaders</strong></h2>
            <span class="center-line"></span>
        </div>
      </div>                   
    </div>
    <div class="row">
      <%= @people.each do |person| %>
      <div class="col-sm-3 text-center">
        <div class="person-v2">
          <img src="<%= person.image_url %>" class="img-responsive" alt="">
          <div class="person-desc-v2">
            <h3><%= person.name %></h3>
            <em><%= person.description %> <%= link_to "Read more", person_path(person) %></em>
            <ul class="list-inline top-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <!-- 
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
            </ul>
          </div>
        </div>
      </div><!--person col end-->
      <% end %>
    </div>
  </div>
</div><!--our team v-2-->