<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @concept.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @concept.description %>
  </p>

  <h4>Notes</h4>
  <%= @notes.each do |note| %>
    <p><%= @note.text %></p>
  <% end %>

  <%= link_to 'Edit', edit_concept_path(@concept) %> |
  <%= link_to 'Back', concepts_path %>
</div>